.maplibregl-ctrl-attrib, .maplibregl-ctrl-logo, .maplibregl-popup-close-button, .maplibregl-popup-tip {
  display: "none";
  background-color: "black";
}

.maplibregl-popup-content {
  background: "transparent";
  font-weight: "bold";
  width: 324;
  height: 179;
  padding: 0.2;
  background-color: "black";
}

.maplibregl-ctrl-group {
  box-shadow: "0 10px 15px rgba(0, 0, 0, 0.1)";
  border-radius: 1.5;
  background-color: "neutral.0";
  .maplibregl-ctrl-zoom-in {
    .maplibregl-ctrl-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%230A0E14'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
  }
  
  .maplibregl-ctrl-zoom-out {
    .maplibregl-ctrl-icon {
      border-top: "1px solid black";
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%230A0E14'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E");
    }
  }
}

.maplibregl-ctrl-bottom-right {
  right: 16;
  bottom: 16;
}

.maplibregl-ctrl-group button {
  width: 44;
  height: 44;
  border-top: "none";
}